.main .solo-ceasec-horizontal-blanco-1 {
  background: url('../assets/images/solo_ceasec_horizontal_blanco_1.png') 50% / cover no-repeat;
  width: 276px;
  height: 65px;
}
.main .centro {
  margin-right: 11px;
  width: 145px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 18px;
  color: #FFF5F6;
}
.main .cursos-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 18px;
  color: #FFF5F6;
}
.main .equipo {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 18px;
  color: #FFF5F6;
}
.main .contacto {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 18px;
  color: #FFF5F6;
}
.main .frame-10 {
  margin: 21px 0 22px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 555.5px;
  height: fit-content;
  box-sizing: border-box;
}
.main .group {
  margin: 0 14.2px 2px 0;
  width: 19px;
  height: 19px;
}
.main .vector-2 {
  width: 15.7px;
  height: 18px;
}
.main .icoutline-tiktok {
  margin: 3px 17.2px 0 0;
  display: flex;
  width: 15.7px;
  height: 18px;
  box-sizing: border-box;
}
.main .vector-3 {
  width: 18px;
  height: 18px;
}
.main .mdilinkedin {
  margin-top: 3px;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.main .frame-2 {
  margin: 26px 0 18px 0;
  display: flex;
  flex-direction: row;
  width: 84px;
  height: fit-content;
  box-sizing: border-box;
}
.main .container-13 {
  background: #941914;
  position: relative;
  margin-left: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px 87px 17px 46px;
  width: 1440px;
  box-sizing: border-box;
}
.main .centro-avanzado-de-simulaci-ncl-nica {
  margin-bottom: 56px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 72px;
  color: #FFFFFF;
}
.main .cursos {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main .group-1 {
  box-shadow: 4px 4px 10.7px 0px rgba(0, 0, 0, 0.25);
  border-radius: 48px;
  background: #941914;
  position: relative;
  margin-left: 1px;
  display: flex;
  padding: 27.5px 0;
  width: 184px;
  box-sizing: border-box;
}
.main .container-10 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #000000;
  background: url('../assets/images/dsc_045691.jpeg');
  position: relative;
  margin: 0 0 0.3px 182px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 238px 0 273.7px 0;
  width: 1440px;
  box-sizing: border-box;
}
.main .nuestro-centro {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 72px;
  color: #941914;
}
.main .en-el-ceasec-nos-dedicamos-aproporcionar-una-experiencia-de-aprendizajenica-yvanguardista-en-el-campo-de-la-medicina-utilizando-tecnologa-de-simulacin-deltima-generacin-ymtodos-de-enseanza-innovadores-preparamos-alos-profesionales-de-la-salud-para-enfrentar-los-desafos-del-entorno-clnico-real {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  color: #000000;
}
.main .container-20 {
  margin: 119px 60.9px 33px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.main .rectangle-5 {
  background: #D9D9D9;
  margin-top: 197px;
  width: 739px;
  height: 416px;
}
.main .container-29 {
  background: #FFF5F6;
  position: relative;
  margin: 0 202px 213px 202px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  padding: 119px 72px 0 92px;
  width: fit-content;
  height: 900px;
  box-sizing: border-box;
}
.main .jornadas-de-introducci-npr-ctica-ala-simulaci-ncl-nica-para-formadores {
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 22px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 64px;
  line-height: 1.323;
  color: #FFFFFF;
}
.main .junio {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0 0 39px 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 36px;
  line-height: 1.323;
  color: #FFFFFF;
}
.main .ver-curso {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main .group-11 {
  box-shadow: 4px 4px 10.7px 0px rgba(0, 0, 0, 0.25);
  border-radius: 48px;
  background: #941914;
  position: relative;
  margin: 0 0 57.5px 1px;
  display: flex;
  padding: 27.5px 0;
  width: 216px;
  box-sizing: border-box;
}
.main .ellipse-1 {
  border-radius: 9.5px;
  background: #941914;
  width: 19.1px;
  height: 19.1px;
}
.main .ellipse-2 {
  border-radius: 9.5px;
  background: #FFFFFF;
  width: 19.1px;
  height: 19.1px;
}
.main .ellipse-3 {
  border-radius: 9.5px;
  background: #FFFFFF;
  width: 19.1px;
  height: 19.1px;
}
.main .ellipse-4 {
  border-radius: 9.5px;
  background: #FFFFFF;
  width: 19.1px;
  height: 19.1px;
}
.main .container-22 {
  margin-left: 41.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 142.1px;
  box-sizing: border-box;
}
.main .container-12 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.main .solo-ceasec-favicom-blanco-1 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: url('../assets/images/solo_ceasec_favicom_blanco_1.png') 50% / cover no-repeat;
  position: absolute;
  top: 87px;
  right: 826px;
  width: 231px;
  height: 230px;
}
.main .container-5 {
  background: url('../assets/images/dsc_04778_rojo_1.png');
  position: relative;
  margin-bottom: 104.5px;
  display: flex;
  padding: 257px 0 406.5px 179px;
  width: 2062px;
  box-sizing: border-box;
}
.main .rectangle-72 {
  border-radius: 45px;
  background: #941914;
  position: absolute;
  left: 50%;
  top: 3.5px;
  translate: -50% 0;
  width: 1182px;
  height: 187px;
}
.main .rectangle-112 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
  background: #D99997;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 195px;
  height: 187px;
}
.main .container-4 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0 99.6px 14.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 128px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main .icurso-de-atenci-nal-paciente-quemado-cr-tico-1 {
  margin-bottom: 11px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.este-curso-est-dirigido-amdicos-intensivistas-urgenci-logos-yprofesionales-de-especialidades-afines-que-puedan-encontrarse-en-la-situaci-nde-tratar-aun-paciente-quemado-cr-tico-ya-sea-en-su-fase-inicial-oen-una-unidad-de-quemados-1-sub6 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.333;
  text-transform: lowercase;
}
.este-curso-est-dirigido-amdicos-intensivistas-urgenci-logos-yprofesionales-de-especialidades-afines-que-puedan-encontrarse-en-la-situaci-nde-tratar-aun-paciente-quemado-cr-tico-ya-sea-en-su-fase-inicial-oen-una-unidad-de-quemados-1-sub7 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.333;
  font-variant: small-caps;
}
.este-curso-est-dirigido-amdicos-intensivistas-urgenci-logos-yprofesionales-de-especialidades-afines-que-puedan-encontrarse-en-la-situaci-nde-tratar-aun-paciente-quemado-cr-tico-ya-sea-en-su-fase-inicial-oen-una-unidad-de-quemados-1 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.333;
  text-transform: capitalize;
}
.main .este-curso-est-dirigido-amdicos-intensivistas-urgenci-logos-yprofesionales-de-especialidades-afines-que-puedan-encontrarse-en-la-situaci-nde-tratar-aun-paciente-quemado-cr-tico-ya-sea-en-su-fase-inicial-oen-una-unidad-de-quemados-1 {
  margin: 0 12.4px 16.5px 5.8px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.este-curso-est-dirigido-amdicos-intensivistas-urgenci-logos-yprofesionales-de-especialidades-afines-que-puedan-encontrarse-en-la-situaci-nde-tratar-aun-paciente-quemado-cr-tico-ya-sea-en-su-fase-inicial-oen-una-unidad-de-quemados-1-sub8 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.333;
  text-transform: capitalize;
}
.main .vector-4 {
  width: 14px;
  height: 20px;
}
.main .mdilocation {
  margin-right: 12px;
  display: flex;
  width: 14px;
  height: 20px;
  box-sizing: border-box;
}
.main .ceasec-hospital-universitario-la-paz-calle-de-pedro-rico-628029-madrid {
  margin: 2.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main .container-8 {
  margin: 0 10.8px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.main .container-2 {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.main .container {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.main .abril-1 {
  position: absolute;
  left: 59.1px;
  bottom: 26.5px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main .group-7 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-bottom: 27.3px;
  display: flex;
  padding: 0 55.2px 20px 59.4px;
  box-sizing: border-box;
}
.main .rectangle-111 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
  background: #D99997;
  margin-right: 17.9px;
  width: 195px;
  height: 174.4px;
}
.main .iv-curso-de-simulaci-nen-emergencias-obst-tricas {
  margin-bottom: 16.8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main .obstetras-yresidentes-de-ginecologa-yobstetricia {
  margin: 0 35.1px 36.4px 35.1px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.main .vector-6 {
  width: 14px;
  height: 22.4px;
}
.main .mdilocation-2 {
  margin-right: 12px;
  display: flex;
  width: 14px;
  height: 22.4px;
  box-sizing: border-box;
}
.main .ceasec-hospital-universitario-la-paz-calle-de-pedro-rico-628029-madrid-2 {
  margin: 2.6px 0 4.8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main .container-16 {
  margin: 0 33.1px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.main .container-17 {
  margin: 27.3px 0 14.5px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.main .container-23 {
  border-radius: 45px;
  background: #941914;
  position: relative;
  display: flex;
  flex-direction: row;
  padding-right: 28.9px;
  box-sizing: border-box;
}
.main .container-3 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 55.3px;
  top: 0px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 128px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main .marzo {
  position: absolute;
  left: 49.9px;
  bottom: 8.4px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main .group-4 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-bottom: 25.1px;
  display: flex;
  padding-top: 3.7px;
  box-sizing: border-box;
}
.main .rectangle-7 {
  border-radius: 45px;
  background: #941914;
  position: absolute;
  left: 50%;
  top: 3.5px;
  translate: -50% 0;
  width: 1182px;
  height: 187px;
}
.main .rectangle-11 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
  background: #D99997;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 195px;
  height: 187px;
}
.main .container-2 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0 99.6px 14.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 128px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main .icurso-de-atenci-nal-paciente-quemado-cr-tico {
  margin-bottom: 11px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main .este-curso-est-dirigido-amdicos-intensivistas-urgenci-logos-yprofesionales-de-especialidades-afines-que-puedan-encontrarse-en-la-situaci-nde-tratar-aun-paciente-quemado-cr-tico-ya-sea-en-su-fase-inicial-oen-una-unidad-de-quemados {
  margin: 0 12.4px 16.5px 5.8px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.este-curso-est-dirigido-amdicos-intensivistas-urgenci-logos-yprofesionales-de-especialidades-afines-que-puedan-encontrarse-en-la-situaci-nde-tratar-aun-paciente-quemado-cr-tico-ya-sea-en-su-fase-inicial-oen-una-unidad-de-quemados-sub8 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.333;
  text-transform: capitalize;
}
.este-curso-est-dirigido-amdicos-intensivistas-urgenci-logos-yprofesionales-de-especialidades-afines-que-puedan-encontrarse-en-la-situaci-nde-tratar-aun-paciente-quemado-cr-tico-ya-sea-en-su-fase-inicial-oen-una-unidad-de-quemados-sub6 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.333;
  text-transform: lowercase;
}
.este-curso-est-dirigido-amdicos-intensivistas-urgenci-logos-yprofesionales-de-especialidades-afines-que-puedan-encontrarse-en-la-situaci-nde-tratar-aun-paciente-quemado-cr-tico-ya-sea-en-su-fase-inicial-oen-una-unidad-de-quemados-sub7 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.333;
  font-variant: small-caps;
}
.este-curso-est-dirigido-amdicos-intensivistas-urgenci-logos-yprofesionales-de-especialidades-afines-que-puedan-encontrarse-en-la-situaci-nde-tratar-aun-paciente-quemado-cr-tico-ya-sea-en-su-fase-inicial-oen-una-unidad-de-quemados {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.333;
  text-transform: capitalize;
}
.main .vector-5 {
  width: 14px;
  height: 20px;
}
.main .mdilocation-1 {
  margin-right: 12px;
  display: flex;
  width: 14px;
  height: 20px;
  box-sizing: border-box;
}
.main .ceasec-hospital-universitario-la-paz-calle-de-pedro-rico-628029-madrid-1 {
  margin: 2.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main .container-7 {
  margin: 0 10.8px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.main .container-6 {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.main .container-26 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.main .abril {
  position: absolute;
  left: 59.1px;
  bottom: 26.5px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main .group-5 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-bottom: 47px;
  display: flex;
  padding: 0 55.2px 20px 59.4px;
  box-sizing: border-box;
}
.main .line-1 {
  background: #000000;
  margin: 15px 0 13px 0;
  width: 237px;
  height: 1px;
}
.main .ver-ms {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #000000;
}
.main .line-2 {
  background: #000000;
  margin: 15px 0 13px 0;
  width: 237px;
  height: 1px;
}
.main .group-6 {
  margin-left: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 699px;
  box-sizing: border-box;
}
.main .group-8 {
  margin: 0 0 221px 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.main .identidad {
  position: relative;
  margin: 13px 24.5px 0 0;
  display: inline-block;
  width: 553.3px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 40px;
  color: #941914;
}
.main .investigaci-n {
  margin-bottom: 13px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 40px;
  color: #941914;
}
.main .container-28 {
  margin: 0 67.4px 10px 67.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 911.7px;
  box-sizing: border-box;
}
.main .creemos-que-la-simulacin-clnica-es-una-herramienta-que-mejora-la-seguridad-yla-calidad-del-cuidado-del-paciente {
  margin: 24px 136.6px 11px 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}
.main .analysing {
  background: url('../assets/images/analysing.png') 50% / cover no-repeat;
  margin: 0 74.6px 5.9px 0;
  width: 173.1px;
  height: 173.1px;
}
.main .en-ceasec-se-disean-ysupervisan-los-mtodos-de-entrenamiento-para-realizar-una-correcta-ymejorada-atencin-al-paciente {
  margin-top: 11px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}
.main .container-3 {
  margin-bottom: 156px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.main .entrenamiento {
  margin: 3px 24.5px 0 0;
  display: inline-block;
  width: 667.9px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 40px;
  color: #941914;
}
.main .evaluaci-n {
  margin-bottom: 3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 40px;
  color: #941914;
}
.main .container-1 {
  margin: 0 72.9px 43px 46.2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 971.3px;
  box-sizing: border-box;
}
.main .presentation {
  background: url('../assets/images/presentation.png') 50% / cover no-repeat;
  margin: 14px 69.3px 42.9px 0;
  width: 173.1px;
  height: 173.1px;
}
.main .el-estudiante-se-sumerge-en-la-reflexin-sobre-la-fisiologa-yfisiopatologa-del-proceso-ayudado-por-las-vivencias-casi-reales-de-la-simulacin {
  margin: 14px 144.4px 0 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}
.main .online-test {
  background: url('../assets/images/online_test.png') 50% / cover no-repeat;
  margin: 4px 82.1px 52.9px 0;
  width: 173.1px;
  height: 173.1px;
}
.main .se-evalan-sus-conocimientos-tericos-sus-habilidades-tcnicas-su-relacin-con-el-paciente-ysu-respuesta-ante-situaciones-clnicas-estresantes {
  margin-bottom: 14px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}
.main .container-19 {
  margin-right: 7.5px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.main .container-24 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.main .solo-ceasec-simbolo-negro-1 {
  background: url('../assets/images/solo_ceasec_simbolo_negro_1.png') 50% / cover no-repeat;
  width: 206px;
  height: 206px;
}
.main .group-9 {
  position: absolute;
  left: 0px;
  top: 59px;
  display: flex;
  width: 206px;
  height: 206px;
  box-sizing: border-box;
}
.main .group-10 {
  position: relative;
  margin: 0 0 214px 172.4px;
  display: flex;
  padding-left: 16px;
  box-sizing: border-box;
}
.main .equipo-1 {
  margin: 0 0 14px 179px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 72px;
  color: #941914;
}
.main .line-3 {
  background: #000000;
  margin: 0 0 25px 202px;
  width: 678px;
  height: 1px;
}
.main .vector-1 {
  margin: 132px 101px 78px 0;
  width: 63px;
  height: 102px;
}
.main .rectangle-13 {
  background: #941914;
  position: relative;
  width: 261px;
  height: 256px;
}
.main .doctor-png-clipart-11992314751 {
  background: url('../assets/images/doctor_png_clipart_11992314751.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 214px;
  height: 312px;
}
.main .group-71 {
  position: relative;
  margin-right: 91px;
  display: flex;
  padding-top: 56px;
  width: 261px;
  height: 312px;
  box-sizing: border-box;
}
.main .rectangle-131 {
  background: #941914;
  position: relative;
  width: 261px;
  height: 256px;
}
.main .doctor-png-clipart-119923147511 {
  background: url('../assets/images/doctor_png_clipart_11992314751.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 214px;
  height: 312px;
}
.main .group-11 {
  position: relative;
  margin-right: 91px;
  display: flex;
  padding-top: 56px;
  width: 261px;
  height: 312px;
  box-sizing: border-box;
}
.main .rectangle-132 {
  background: #D99997;
  margin: 56px 101px 0 0;
  width: 261px;
  height: 256px;
}
.main .vector-2 {
  margin: 132px 0 78px 0;
  width: 63px;
  height: 102px;
}
.main .container-14 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1293px;
  height: fit-content;
  box-sizing: border-box;
}
.main .doctor-png-clipart-119923147512 {
  background: url('../assets/images/doctor_png_clipart_11992314751.png') 50% / cover no-repeat;
  position: absolute;
  right: 188px;
  bottom: 0px;
  width: 214px;
  height: 312px;
}
.main .container-18 {
  position: relative;
  margin: 0 0 20px 179px;
  display: flex;
  width: 1293px;
  box-sizing: border-box;
}
.main .javier-rubio {
  margin-right: 19.5px;
  width: 341.4px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.main .sergio-rico {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.main .dr-quintana {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.main .container-9 {
  margin: 0 0 5px 180.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 913.1px;
  box-sizing: border-box;
}
.main .tcnico-de-simulacin {
  margin-right: 12px;
  width: 340px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  color: #941914;
}
.main .tcnico-de-simulacin-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  color: #941914;
}
.main .director-del-centro {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  color: #941914;
}
.main .container-4 {
  margin: 0 0 82px 161.9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 920.6px;
  box-sizing: border-box;
}
.main .ellipse-5 {
  border-radius: 11px;
  background: #941914;
  width: 22px;
  height: 22px;
}
.main .ellipse-6 {
  border-radius: 11px;
  background: #D9D9D9;
  width: 22px;
  height: 22px;
}
.main .ellipse-7 {
  border-radius: 11px;
  background: #D9D9D9;
  width: 22px;
  height: 22px;
}
.main .container-11 {
  margin-left: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 310px;
  box-sizing: border-box;
}
.main .container-27 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2062px;
  height: fit-content;
  box-sizing: border-box;
}
.main .container {
  margin-right: 44px;
  width: 568.1px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 72px;
  color: #FFFFFF;
}
.main .container-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 72px;
  color: #FFFFFF;
}
.main .container-15 {
  margin: 0 4.7px 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 795.1px;
  box-sizing: border-box;
}
.main .cursos-impartidos-cada-ao {
  margin-right: 44px;
  width: 543.3px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
.main .profesionales-de-la-salud-formados {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
.main .container-25 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 941.7px;
  box-sizing: border-box;
}
.main .container-21 {
  background: #941914;
  position: absolute;
  top: 1707px;
  right: -2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 79px 0 69px 0;
  width: 1444px;
  height: 334px;
  box-sizing: border-box;
}
.main .calendario-de-cursos {
  position: absolute;
  left: 50%;
  bottom: 2703.5px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 64px;
  text-transform: uppercase;
  color: #941914;
}
.calendario-de-cursos {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 64px;
  line-height: 1.333;
  text-transform: uppercase;
  color: #710804;
}
.main {
  background: #FFFFFF;
  display: flex;
  padding-bottom: 180px;
  width: 1440px;
  box-sizing: border-box;
}
