
body {
    margin: 0;
    font-family: HELVETICA, sans-serif;
    padding: 0;;
}

/* header adaptado a mobiles */
header {
    position: fixed; 
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #941914;
    color: #FFF5F6;
    z-index: 999;
}

.logo img {
    height: 80px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 100px;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: #FFF5F6;
    text-decoration: none;
    font-size: 18px;
    transition: color 0,3s ease;
}

.navbar ul li a:hover{
    color: #ff9490;
}

.social-icons a {
    color: #FFF5F6;
    margin-left: 15px;
    padding-right: 35px;
    font-size: 20px;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    margin-right: 40px;
}


.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start ;
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100vh;
    background-color: #94181472;
    z-index: 999;
    padding-top: 50px;
    transition: right 0.3 ease;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.mobile-menu.open {
    right: 0;
    
}

.mobile-menu ul {
    list-style: none;
    padding: 0px;
    margin: 0;
    width: 100%;
}

.mobile-menu ul li {
    margin: 20px 0;
    text-align: center;
}

.mobile-menu ul li a {
    color: #FFF5F6;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
}

@media (max-width: 768px) {
    .navbar ul, .social-icons, .hideOnMobile {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}


/* Sección imagen de fondo y boton de cursos*/

.background-image {
    background-image: url('/assets/images/quemado.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh; /* Ajusta la altura de la imagen de fondo al 100% del viewport */
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff5f6; 
}

.overlay h1 {
    font-size: 4rem; /* Tamaño del texto en pantallas grandes */
    margin-bottom: 30px; /* Espacio entre el título y el botón */
}

.overlay button {
    background-color: #941914; /* Color de fondo del botón */
    color: #fff5f6; /* Color del texto del botón */
    padding: 15px 30px; /* Espaciado interno */
    border: none;
    border-radius: 10px; /* Borde redondeado */
    font-size: 1.5rem; /* Tamaño del texto del botón */
    cursor: pointer;
    transition: 0.5s ease;
    box-shadow: 3px 3px 3px black;
    align-items: center;
}

.overlay button:hover {
    background-color: #FFF5F6;
    color: #941914;
    border-color: #941914;
    border: 2px solid;
    padding: 13px 28px;
}

/* Estilos para pantallas de ordenador */
@media (min-width: 769px) {
    .overlay h1 {
        font-size: 5rem; /* Tamaño del texto en pantallas grandes */
        margin-bottom: 40px; /* Más espacio entre el título y el botón */
    }

    .overlay button {
        font-size: 1.8rem; /* Tamaño del texto del botón en pantallas grandes */
    }
}

/* Estilos para pantallas móviles */
@media (max-width: 768px) {
    .overlay h1 {
        font-size: 3rem; /* Tamaño del texto en pantallas móviles */
        margin-bottom: 20px; /* Espacio reducido entre el título y el botón */
    }

    .overlay button {
        font-size: 1.2rem; /* Tamaño del texto del botón en pantallas móviles */
    }
}

/* Sección Nuestro Centro*/


.our-center {
    background-color: #fff5f6;
    display: flex;
    align-items: center;
    padding: 100px;
    flex-grow: wrap;
}

.content {
    flex: 1;
    margin-right: 20px; 
    margin-left: 20px
}

.content h2 {
    font-size: 4.2rem; 
    color: #941914;
    margin-bottom: 20px;
    margin-top: 50px;
}

.content p {
    font-size: 1.5rem; 
    margin-right: 20px;
    margin-bottom: 100px;
}

.video {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 780px;
    align-items: center;
    margin-left: 30px;

}

/* Estilo adicional para el video */

.instagram-media {
    width: 100px !important;
    height: 600px !important;
    overflow: hidden !important;
}

.instagram-media > div {
    padding: 0 !important;
    width: 100px !important;
    height: 600px !important;
    overflow: hidden !important;
}


@media (max-width: 768px) {

    .our-center {
        flex-direction: column; /* Cambiar la dirección del flex a columna */
        text-align: center; /* Centrar el texto */
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .content {
        margin: 0;
    }

    .video {
        max-width: 100%; /* Eliminar la limitación de ancho máximo */
        max-height: 100%;
        margin-top: 20px; /* Añadir un margen superior para separar el video del texto */
    }
}



/* Sección Carrousel de fotos*/

.image-carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.image-carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.image-slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-slide img {
    max-width: 100%;
    height: auto;
    object-fit: cover; /* Mantiene el formato original de las imágenes */
}

.image-arrows {
    position: absolute;
    top: 50%;
    width: 98%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    transform: translateY(-50%);
    z-index: 1;
}

.image-arrow {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.image-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.image-dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.image-dot {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.image-dot.active {
    background-color: #941914;
}


/* Sección Rectángulo con Datos*/

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #941914; 
    color: #fff5f6; 
    padding: 50px 0; 
    width: 100%;
}

.stat-item {
    text-align: center;
    margin: 0 150px; /* Espaciado entre los elementos */
}

.stat-item .number {
    font-size: 4rem; /* Tamaño del número grande */
    font-weight: bold;
    margin-bottom: 10px; /* Espaciado debajo del número */
}

.stat-item .description {
    font-size: 1.5rem; /* Tamaño del texto de descripción */
}

/* Estilo responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    .stats {
        flex-direction: column;
    }

    .stat-item {
        margin: 60px 0; /* Margen entre elementos en pantallas pequeñas */
    }
}


/* Estilos para el Carrousel de Cursos */

.carousel {
    position: relative;
    width: 100%;
    height: 100vh; /* Ajusta la altura al 100% de la ventana */
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    height: 100%;
}

.course {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
}

.course-logo {
    max-width: 200px; /* Ajusta según el tamaño deseado del logo */
    margin-bottom: 20px;
}

.course h2,
.course p,
.course button {
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.course h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.course p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.course button {
    background-color: #941914;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
}

.course button:hover {
    background-color: #FF9490;
}

.arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 98%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 2;
}

.arrow {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dots-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    margin-top: 30px;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.dot.active {
    background-color: #941914;
}

/* Estilos para el Calendario de Cursos */

.calendar-section {
    text-align: center;
    padding: 50px 20px;
}

.calendar-section h2 {
    font-size: 4rem;
    margin-bottom: 20px;
    color: #941914;
}

.course-link {
    text-decoration: none;
    color: inherit;
}

.course-bar {
    display: flex;
    align-items: center;
    background-color: #941914;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: left;

}

.course-bar:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    cursor: pointer;
}



.course-date {
    background-color: #ff6f61;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px 0 0 10px;
    flex-shrink: 0;
    width: 100px;
}

.course-date .day {
    font-size: 3rem;
    margin: 0;
}

.course-date .month {
    font-size: 1.5rem;
    margin: 0;
}

.course-details {
    padding: 0 20px;
    flex-grow: 1;
}

.course-details h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #FFF5F6;
    margin-bottom: 10px;
}

.course-details p {
    margin: 5px 0;
    font-size: 1rem;
    color: #FFF5F6;
    
}

.course-location {
    color: #eadedf;
    font-size: 8px;
    size: bold;
    margin-top: 15px;
}


/* Estilos para IDENTIDAD */

.values-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 90px 90px;
}

.value-item {
    background-color: #FFF5F6;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center; /* Alinea el texto y la imagen al centro */
    max-width: 300px; /* Ancho máximo del recuadro */
    margin: 0 auto; /* Centra los recuadros horizontalmente */
    transition: background-color 0.3 ease;
}

.value-item hover {
    background-color: #FF9490;
}

.value-item h3 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #941914;
}

.value-item img {
    width: 80px; /* Ajusta el tamaño del icono según sea necesario */
    height: 80px; /* Ajusta el tamaño del icono según sea necesario */
    margin-bottom: 15px; /* Espacio entre la imagen y el párrafo */
}

.icon-ceasec{
    width: 100px;
    height: 100px;
}
.value-item p {
    font-size: 1em;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .values-section {
        grid-template-columns: 1fr;
    }
}


/* Estilos para footer*/

.footer {
    background-color: #941914; /* Color de fondo del pie de página */
    color: #FFF5F6; /* Color del texto */
    padding: 50px 20px; /* Espaciado interno */
}

.footer-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas si es necesario */
    justify-content: space-between; /* Espacio entre los bloques */
}

.footer-info, .footer-map, .footer-social {
    flex: 1;
    margin: 20px;
    max-width: 300px;
}

.footer-info h3, .footer-map h3, .footer-social h3 {
    margin-bottom: 20px; /* Espacio debajo de los títulos */
    font-size: 1.5rem; /* Tamaño del texto del título */
    font-weight: bold; /* Negrita en los títulos */
}

.footer-map {
    display: flex;
    flex-direction: column; /* Alinea verticalmente el mapa y el título */
    align-items: center; /* Centra el contenido horizontalmente */
}

.footer-map h3 {
    margin-bottom: 20px; /* Espacio debajo del título "Encuéntranos" */
}

.footer-map iframe {
    width: 100%;
    height: 300px; /* Altura del mapa */
    border: 0; /* Elimina el borde del iframe */
}

.footer-social {
    display: flex;
    flex-direction: column; /* Coloca los íconos en columna */
    align-items: center; /* Centra los íconos horizontalmente */
}

.social-link {
    color: #FFF5F6;
    font-size: 2rem;
    margin: 10px 0; /* Espacio vertical entre los íconos */
    transition: color 0.3s ease;
}

.social-link:hover {
    color: #FF9490;
}